.container{
  display: flex;
  flex-flow: row wrap;
  background-color: azure;
}

.header{
  width: 100%;
}

.clm-list{

}

.left-menu{

}

.center-content{
  display: flex;
  flex-flow: row wrap;
  align-content: space-around;
  padding: 5px;
}
